@import "tailwindcss";
@custom-variant hover (&:hover);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@theme {
    --color-beige-800: #5c5649;
    --color-beige-100: #f7f3f0;
    --color-beige-300: #c4c1b7;
}

:root {
    font-family: "JetBrains Mono", monospace;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    scrollbar-width: thin;
}

#root {
    width: 100%;
}

*:focus {
    outline: none;
}

body {
  margin: 0;
  display: flex;
  padding: 5vw;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
